<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p class="subtitle">Welcome to <%= title %></p>
      <div class="inline-button">
        <h2>Messages</h2>
        <a class="clickable" href="/new">Add message</a>
      </div>
      <ul>
        <% messages.forEach(message => { %>

        <li>
          <p><%= message.text %></p>
          <span><%= message.user %>, on <%= message.added %> </span>
        </li>

        <% }) %>
      </ul>
    </div>
  </body>
</html>
